html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#loginForm {
  padding: 1vw;
  border: 0.01vw solid black;
  box-shadow: 5px 10px #888888;
  border-radius: 3%;
  width: 20vw;
  height: 16vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#registerForm {
  padding: 1vw;
  border: 0.01vw solid black;
  box-shadow: 5px 10px #888888;
  border-radius: 3%;
  width: 20vw;
  height: 20vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#login {
  position: absolute;
  margin-top: 2vh;
  margin-left: 92vw;
  width:100vw;
}

#main {
  width:100vw;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

h1 {
  font-size: 350%;
}

#loginText {
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.search-result {
  padding-top: 5px;
  padding-bottom: 5px;
  color:black;
}
.search-result:hover {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

#result-container {
  text-align: left;
  margin-top: 0.3vh;
  position: absolute;
  background-color: white;
  z-index: 1;
  width: 100%;
}

#motto {
  font-family: 'Cantarell';
  font-size: 125%;
  font-style: italic;
}

#search {
  width: 35vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#luck {
  /*position:absolute;*/
  z-index: -1;
  margin-top: 2vh;
}
::placeholder{
  color: black;
}

.containers {
  margin-left: 10vh;
  color: #444;
  cursor: pointer;
  width:  75vw;
  border: none;
  outline: none;
  font-size: 1vw;
  transition: 0.4s;
}



.panel {
  color: black
}

.resultText {
  text-align: justify;
  font-size: 150%;
  color:wheat
}

.resultName {
  font-size: 1.5vw;
}

.bullets {
  list-style-type: none;
}